@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Diagnostics Test App</title>
</head>
<body>
    <h1>Diagnostics Test App</h1>
    <ul>
        <li><a asp-page-handler="LogMessage">Log a message</a></li>
        <li><a asp-page-handler="GarbageCollect">Allocate Memory and then Garbage Collect</a></li>
        <li><a asp-page-handler="AsyncHang">Async Block</a></li>
        <li><a asp-page-handler="AsyncRelease">Async Release</a></li>
    </ul>
</body>
</html>
