@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Items</p>
    <ul>
        @foreach(var item in Model.Items) {
            <li>@item</li>
        }
    </ul>
</div>
