*.*sdf
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
*.mdf
*.ldf
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
_[Ss]cripts
*.exe
*.dll
*.nupkg
*.ncrunchsolution
*.docstates
*.dot[Cc]over
*.ipch
*.orig
*.pidb
*.psess
*.pubxml
*.sln.ide
*.sln.ide/
*.userprefs
*.vsp
*.zip
*DS_Store
*launchSettings.json
.build/
.idea/
.nuget/
.settings
.testPublish/
.vs/
.vscode/
_[Rr]eSharper.*
_[Rr]eSharper.*/
artifacts/
bower_components/
debugSettings.json
global.json
node_modules
node_modules/
nuget.exe
packages/
project.lock.json
PublishProfiles/
