[Oo]bj/
[Bb]in/
TestResults/
.nuget/
*.sln.ide/
_ReSharper.*/
packages/
shared/
artifacts/
PublishProfiles/
.vs/
node_modules/
*.user
*.suo
*.cache
*.docstates
*.exe
_ReSharper.*
*.psess
*.vsp
*.pidb
*.userprefs
*.*sdf
*.ipch
.settings
*.orig
*.user*.userprefs
*DS_Store

