@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a @onclick="@OpenAboutAsync" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@functions {
    async Task OpenAboutAsync()
    {
        await Electron.Shell.OpenExternalAsync("https://docs.microsoft.com/en-us/aspnet/core/razor-components");
    }
}
