@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>

    <p>Static Usage: @ClassLibrary.Helper.UserAgent</p>
    <p>From Context: @ClassLibrary.Helper.GetUserAgent(Context)</p>
</div>
