<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="xunit.parallelizeAssembly" value="false" />
    <add key="xunit.parallelizeTestCollections" value="false"/>
    <add key="MS_WebHookEncryptionSecret" value="12345678901234567890123456789012" />
  </appSettings>
  <startup>
  </startup>
</configuration>