@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core</h1>

    <p>Static Usage: @ClassLibrary.Helper.UserAgent</p>
    <p>From Context: @ClassLibrary.Helper.GetUserAgent(Context)</p>
    <p>From Cache: @ClassLibrary.CacheUtils.Item.Count</p>
</div>
