<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">QuickGrid samples</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> In-memory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="provider">
                <span class="oi oi-home" aria-hidden="true"></span> Provider
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="virtualized">
                <span class="oi oi-home" aria-hidden="true"></span> Virtualized
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="entityframework">
                <span class="oi oi-home" aria-hidden="true"></span> Entity Framework
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
