<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.Cryptography.Internal" version="1.0.0-beta6" targetFramework="net451" />
  <package id="Microsoft.AspNet.DataProtection" version="1.0.0-beta6" targetFramework="net451" />
  <package id="Microsoft.AspNet.DataProtection.Abstractions" version="1.0.0-beta6" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration" version="1.0.0-beta6" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration.Abstractions" version="1.0.0-beta6" targetFramework="net451" />
  <package id="Microsoft.Framework.Configuration.Binder" version="1.0.0-beta6" targetFramework="net451" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta6" targetFramework="net451" />
  <package id="Microsoft.Framework.DependencyInjection.Abstractions" version="1.0.0-beta6" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging.Abstractions" version="1.0.0-beta6" targetFramework="net451" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-beta6" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net451" />
</packages>