.flag {
    width: 2rem;
    height: 1.5rem;
}

.grid {
    display: inline-flex;
    flex-direction: column;
}

.grid ::deep tr {
    height: 1.8rem;
}

.grid ::deep th:nth-child(2) {
    width: 15rem;
}

    .grid ::deep th:nth-child(2) .col-options-button:before {
        /* Magnifying glass */
        content: '\1F50D';
        filter: saturate(0) contrast(10);
    }
