.flag {
    width: 2rem;
    height: 1.5rem;
}

.grid {
    display: inline-flex;
    flex-direction: column;
}

.grid ::deep tr {
    height: 1.8rem;
}

.grid ::deep thead .country-name {
    width: 15rem;
}
