@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.ActiveDump == null)
{
    <div class="text-center">
        <h1 class="display-4">Load a Dump</h1>
        <p>Paste the path to a dump file to load it</p>
        <form asp-page="/">
            <input name="path" />
            <button type="submit">Load</button>
        </form>
    </div>
}
else
{
    <div>
        <h2>CLR Versions:</h2>
        <ul>
            @foreach(var runtime in Model.ActiveDump.ClrVersions)
            {
                <li><a asp-page="/Runtime" asp-route-runtime="@runtime.Version">@runtime.Version</a></li>
            }
        </ul>
    </div>
}
